
.addminpage{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
    margin-top: 30px;
    margin-bottom: 50px;
    min-height: 250px;
   padding: 40px;
}

.kund-info-ul{
  list-style: none;
   
}
.kund-info-ul, li {
    padding: 5px;
}