
.addminpage{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
    margin-top: 30px;
    margin-bottom: 50px;
    min-height: 250px;
   padding: 40px;
}

.kund-info-ul{
  list-style: none;
   
}
.kund-info-ul, li {
    padding: 5px;
}
.table-bookings{
  border: 1px solid;
  padding: 20px;  border: 2px solid;

}
.table-bookings td{ 
  border: 1px solid;
  padding: 10px;

}
.table-bookings th{ 
  border: 1px solid;
  padding: 20px;

}
.addminpage-bookings{
  margin-bottom: 20px;
}

.input-div-klient-search{
  margin: 50px;
}
.input-klient-search {
  width: 70%;
  padding: 20px;
  border: none;
  border-radius: 50px;
  background-color: beige;
}