.home-section {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;

   margin: 20px;
   padding: 20px;
}

.home-artical {
   padding: 20px;
   border: 1px solid;
   margin-bottom: 40px;
   background-color: white;
}

.h3-headline {
   margin-bottom: 20px;
}

.h4-headline {
   margin-top: 20px;
   margin-bottom: 20px;
}

.home-ul {
   margin-bottom: 20px;
   list-style: none;
}

.home-li {
   text-decoration: none;
   padding: 6px;
}

.table-pricelist {
   border: 1px solid;
   padding: 20px;

   background-image:url('../pictures/essential-oils-1433692_1280.jpg') ;
   background-position: 100%;
   background-size:cover;
   background-repeat: no-repeat;
}

.table-pricelist td {
   border: 2px solid white;
   font-size: 1.2rem;
   padding: 20px;
   background-color: rgba(255, 255, 255, 0.55);
   font-weight: bold;
}
.table-pricelist th {
   border: 2px solid white;
   font-size: 2rem;
   font-weight: bolder;
   padding: 50px;
   background-color: rgba(255, 255, 255, 0.55);
}

.massage-img {
   width: 250px;
   height: 250px;
   border-radius: 50%;
   object-fit: cover;
}

/*---------------------- comment section --------------------*/

.resention-headline {
   margin-bottom: 30px;
}

.comment-section {
   padding: 20px;
   display: flex;


   justify-content: center;
   background-color: white;
   border: 1px solid;

}

.scrolldiv {
   width: 100%;
   height: 160px;
   overflow-x: scroll;
   scroll-behavior: smooth;
   display: flex;
   flex-wrap: wrap;

   justify-content: center;
}

.comment-div {
   margin: 20px;
   padding: 10px;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   width: 200px;
   height: 100px;
   background-color: antiquewhite;
}

.comment-img {
   width: 30px;
   height: 30px;
   background-color: white;
   border-radius: 50px;

}