.home-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    margin: 20px;
    padding: 20px;
}
.home-artical {
    padding: 20px;
    border: 1px solid;
    margin-bottom: 40px;

}
.h3-headline {
    margin-bottom: 20px;
}
.h4-headline {
    margin-top: 20px;
    margin-bottom: 20px;
}
 .home-ul {
    margin-bottom: 20px;
    list-style: none;
 }
 .home-li {
    text-decoration: none;
    padding: 6px;
 }
 .table-pricelist {
    border: 1px solid;
    padding: 20px;
 }
 .table-pricelist td {
    border: 1px solid;
    padding: 20px;
 }