
/*.aside{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    width: 250px;
    height: 1000px;
    border: 2px solid var(--background-header);
    padding: 10px;
     display: flex;
    flex-direction: column;
   
}
.logo-aside{
    width: 200px;
    height: 170px;
   align-items: center;
   justify-content: center;
   margin: 25px;
}
.section{
   
   padding: 30px;
   margin-top: 40px;
   border: 1px solid var(--background-header);
}

.open-hours h3 {
    padding: 10px;

   
}

.open-hours ul li {
    padding: 5px;
    text-transform: lowercase;

    list-style: none;

   
}

.news-letter{
    text-transform: none;
}

.news-letter-btn {
    padding: 5px;
    margin-top: 10px;

}*/