* {
    margin: 0;
    padding: 0;

}

body {
    background-color: var(--background-main);
}

:root {

    --background-header: rgba(213, 203, 171, 0.557);
    --background-main: rgba(226, 226, 218, 0.806);
    --background-aside: rgba(213, 203, 171, 0.312);
}
main {
    text-align: center;
}

.head-pic {
    width: 100%;
    height: 400px;
    object-position: center;
    object-fit: cover;
   
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.249);
}

.head-text {
    z-index: 1000;
    text-align: center;
    margin-top: -250px;
    margin-bottom: 20px;
    opacity: 0.8;
    color: white;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}
.head-text2 {
    opacity: 0.8;
    color: white;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}
.boka-btn {
    font-size: 1.2rem;
    padding: 20px;
    align-items: center;
 margin-bottom: 150px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.365);
    border: none;
    border-radius: 40px;

}
.boka-btn:hover {
    opacity: 0.7;
}