
/* -------------------- modal ------------------------*/
.modal-open {
   margin-left: 50%;
   margin-top: 13%;
   width: 500px;
   height: 500px;
    
    z-index: 1000;
    padding: 5px;
    position: absolute;
    transform: translate(-50%,-50%);
}
.modal-open {
    display: flex;
    flex-wrap: wrap;
   flex-direction: column;
   text-aline: center;
   align-items: center;
   justify-content: center;   
   
   background-color: rgb(244, 243, 236);
    border: 50px solid rgba(236, 216, 136, 0.77);
    border-radius: 10px; 
    font-size: 2rem;
}

.close-modal-btn{
    margin-top: 50px;
    margin-bottom: 0;
    background-color: aliceblue;
}


/* -------------------- comments ------------------------*/
.recension-name{
     padding: 10px;
     border-radius: 20px;
     border: none;
}
.recension-text{
    padding: 10px;
    border-radius: 20px;
    width: 300px;
    height: 100px;
    border: none;
}
.close-btn-modal {
    font-size: 1.5rem;
    background: none;
    border: none;
    margin-left: 110%;
    margin-top: -550px;
    position: absolute;
}