* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body {

    min-height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: var(--background-main);
}

:root {
    --background-main: rgba(245, 245, 245, 0.806);

}

.Arrow-up {
    z-index: 100;
    margin-top: 20px;
    margin-left: 44%;
    position: fixed;
    background-color: white;
    border-radius: 50%;

}